*.o
*.pyc
*.so
*.pyo
*.cfg
chains/
sbatch_scripts/
old/
yaml/
interface/test_baryon
emulator/model_dataset/
emulator/training_sample/
emulator/validating_chains/
emulator/emu_y1_cosmic_shear.py
likelihood/.params_des_3x2pt.yaml
likelihood/.params_des_cosmic_shear.yaml
likelihood/*_emu*
