*.o
*.pyc
*.so
*.pyo
*.cfg
chains/
#EXAMPLE_EVALUATE1.yaml
EXAMPLE_MCMC1_UOFA.sbatch
#EXAMPLE_MCMC1.yaml
EXAMPLE_MCMC2_UOFA.sbatch
#EXAMPLE_MCMC2.yaml
EXAMPLE_POLY1_UOFA.sbatch
EXAMPLE_POLY1.yaml
EXAMPLE_POLY2_UOFA.sbatch
EXAMPLE_POLY2.yaml